In [1]:
import pandas as pd
from collections import defaultdict
from itertools import combinations

In [2]:
raw_data = pd.read_csv("Groceries_dataset.csv")
raw_data.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [3]:
raw_data = raw_data.sort_values(['Date', 'Member_number'])

In [5]:
data = raw_data.groupby(['Date', 'Member_number'])['itemDescription'].apply(list).reset_index(drop=False).copy()
data.head()

         Date  Member_number                           itemDescription
0  01-01-2014           1249                    [citrus fruit, coffee]
1  01-01-2014           1381                              [curd, soda]
2  01-01-2014           1440                [other vegetables, yogurt]
3  01-01-2014           1659  [specialty chocolate, frozen vegetables]
4  01-01-2014           1789                 [hamburger meat, candles]

In [7]:
# Creating a default dict to contain item counts
item_counts = defaultdict(int)
pair_counts = defaultdict(int)

# Go over the entire dataset
for ind, row in data.iterrows():
    receipt = list(set(row.itemDescription))
    # For each receipt iterate over items and update their counts
    for item in receipt:
        item_counts[item] +=1

    # For each receipt iterate over items and update pair counts
    for (a, b) in combinations(receipt, 2):
        pair_counts[(a, b)] += 1
        pair_counts[(b, a)] += 1

In [33]:
cond_prob = defaultdict(float)
# Defining a probability threshold to include in the conditional probability dict
prob_threshold = 0.24
# Defining a min count threshold to include in the condiitonal probability dict
count_threshold = 5
for (a, b) in pair_counts:
    conf = pair_counts[(a, b)]/item_counts[a]
    if conf > prob_threshold and item_counts[a] > count_threshold:
        cond_prob[(a, b)] = conf

In [34]:
rules = sorted(cond_prob.items(), key= lambda item: item[1], reverse=True)

In [35]:
rules

[(('brandy', 'whole milk'), 0.34210526315789475),
 (('softener', 'whole milk'), 0.2926829268292683),
 (('syrup', 'whole milk'), 0.2857142857142857),
 (('canned fruit', 'whole milk'), 0.2857142857142857),
 (('artif. sweetener', 'whole milk'), 0.27586206896551724),
 (('specialty vegetables', 'yogurt'), 0.2727272727272727),
 (('ready soups', 'whole milk'), 0.26666666666666666),
 (('whisky', 'pastry'), 0.25),
 (('whisky', 'specialty chocolate'), 0.25),
 (('whisky', 'root vegetables'), 0.25),
 (('cream', 'newspapers'), 0.25),
 (('cream', 'sausage'), 0.25),
 (('house keeping products', 'whole milk'), 0.24444444444444444),
 (('light bulbs', 'whole milk'), 0.2413793103448276),
 (('artif. sweetener', 'soda'), 0.2413793103448276)]

In [ ]:
# Milk is the most suggested item mainly due to the frequency